/* .category-button {
    background-color: #0d4c0e;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 1px; 
    margin-bottom: 0px;
}

.category-buttons {
   gap: 0%;
   margin-right: 9%;
}

.category-button:hover  {
    background-color: #f8f8f8;
    color: #003d29;
    border: 2px solid #003d29;
} */