.product-upload-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 50px;
  border-radius: 8px;
  margin: 90px;
  margin-top: 0px;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
}

.product-name-input,
.product-description-input,
.product-price-input,
.product-image-upload {
  width: 100%; 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-upload-button {
  background-color: #0d4c0e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 5px;
  width: 100%;
}

.product-upload-button:hover {
  background-color: #f8f8f8;
  color: #003d29;
  border: 2px solid #003d29;
}

.upload-success {
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

.product-upload-heading {
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 50px; 
  margin-top: 15px;
  color: #105a14;
  text-align: center;
}

.go-to-dashboard-button {
  background-color: #0d4c0e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5px;
  width: 100%;
}

.go-to-dashboard-button:hover {
  background-color: #f8f8f8;
  color: #003d29;
  border: 2px solid #003d29;
}

.header-button, .Categories-button {
  background-color: #0d4c0e;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 60px;
  margin-left: 150px;
  margin-right: 125px; 
  margin-bottom: 50px;
}

.header-button:hover, .Categories-button:hover {
  background-color: #f8f8f8;
  color: #003d29;
  border: 2px solid #003d29;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: lightgray;
}