.Reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .Reset-password-form-container {
    width: 40%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .Reset-password-form-container h1 {
    font-size: 24px;
    margin-bottom: 35px;
    text-align: center;
  }
  
  .New-password-input-wrapper,
  .Confirm-password-input-wrapper {
    margin-bottom: 20px;
    margin-right: 4%;
  }
  
  .New-password-input-wrapper label,
  .Confirm-password-input-wrapper label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .New-password-input-wrapper input,
  .Confirm-password-input-wrapper input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .error-message {
    color: #000000;
    font-size: 14px;
    margin-top: 10px;
  }

 
  .ellipse-image {
    height: 100%;
    object-fit: cover;
  }
  
  
  
  
  
  
  