.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .form-container {
    width: 60%;
    padding: 40px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }


  .image-container {
    width: 50%;
    height: 100vh;
  }

  .ellipse-image {
    width: 100%;
    height: auto;
  }

  form {
    flex: 1;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 8px 5px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #003D29;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    background-color: #003D29;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  button:hover {
    background-color: #f8f8f8;
    color: #003D29;
    border: 2px solid #003D29;
  }
  p {
    font-size: 14px;
    margin-top: 20px;
  }
  p a {
    color: #333;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .toastify-container {
    font-family: 'Roboto', sans-serif;
  }
  .toastify-content {
    font-size: 14px;
  }