.category-buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .category-button {
    background: #ddd;
    color: #000;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .category-button.active {
    background: rgb(6, 76, 6);
    color: #fff;
  }
  